{% extends '::base.html.twig' %}
{% block content %}

    <div class="form">  
        <form class="vertical" action="{{ path('fos_oauth_server_authorize', 
         { 'client_id': client_id, 'response_type':response_type,'redirect_uri': redirect_uri, 'state':state, 'scope':scope}) }}" method="POST" {{ form_enctype(form) }}>  
            <div class="form_title">  
                Grant access to {{ client.name }}   ?  
            </div>  
            {{ form_widget(form) }}
            <div class="form_button">  
                <input type="submit" value="Authorize" />  
            </div>  
        </form>  
    </div>  
{% endblock %}